/* General Body Styles */
body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Navigation Bar */
nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Main content area */
main {
    padding: 20px;
    padding-bottom: 60px;
}

/* Table Styles */
table {
    width: 100%; 
    margin-bottom: 100px;
}

th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}

td {
    border: 1px solid #333;
    padding: 10px;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Form and Container Styles */
.container {
    max-width: 600px; 
    margin: 20px auto;
    border: 1px solid #CCCCCC;
    padding: 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 20px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button Styles */
.btn {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px; 
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: 2px solid #3498db;
    border: none; 
    color: #3498db;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease; 
   
}

.btn.block {
    width: 100%;
    padding: 10px 0;
}

.btn:hover {
    background-color: #3498db;
    color: #fff;
}

.btn.red {
    outline: 2px solid #98082a;
    color: #db3450;
}

.btn.red:hover {
    background-color: #db3450;
    color: #fff;
}

/* Error Message Styles */
.error {
    width: 100%;
    display: inline-block;
    padding: 10px;
    background-color: rgb(251, 187, 187);
    border-radius: 5px;
    border: 1px solid red;
    font-size: 0.9em;
    color: red;
}

/* Header Styles */
.header {
    background-color:blue;
    padding: 20px; 
    text-align: center; 
    color: white; 
}

/* Logo Styles */
.header img {
    max-width: 150px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

/* Header Title Styles */
.header h1 {
    margin: 20px 0 0; 
    font-size: 24px;
    font-weight: normal; 
}


/* Footer Styles  */
footer {
    background-color:blue;
    color: white;
    text-align: center;
    padding: 20px;
    padding-top: 20px; 
    bottom: 0;
    width: 100%;
    z-index: 1000; 
}
